html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #010A1F;
  color: white;

}
h1.a {font-family: 'Libre Baskerville', serif;}
h1.k {font-family: 'Amita', cursive;}
h1.l {font-family: "Times New Roman", serif;}
h1.m {font-family: "Baskerville Old Face", serif;}
h1.n {font-family: "Century Gothic", sans-serif;}
