html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #010A1F;
  color: white;

}

h1.a {
        font-family: "Century Gothic", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;

}

h1.b {
        font-family: 'Amita', cursive;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;

}

h1.c {
        font-family: "Baskerville Old Face", serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 200;

}
